@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:wght@400;600;700;800&display=swap')
layer(base);
@import 'tailwindcss';

:root {
  font-size: 16px;
}

@layer components {
  /* .container {
    @apply mx-auto max-w-40ch px-2ch py-[var(--line-height)];
  } */
}

@theme {
  --line-height: 1.20rem;

  --spacing-ch: 1ch;
  --spacing-2ch: 2ch;
  --spacing-3ch: 3ch;
  --spacing-4ch: 4ch;
  --spacing-5ch: 5ch;
  --spacing-6ch: 6ch;
  --spacing-8ch: 8ch;
  --spacing-10ch: 10ch;
  --spacing-12ch: 12ch;
  --spacing-16ch: 16ch;
  --spacing-20ch: 20ch;
  --spacing-40ch: 40ch;
  --spacing-50ch: 50ch;
  --spacing-60ch: 60ch;
  --spacing-80ch: 80ch;
  --spacing-100ch: 100ch;

  --spacing-lh: var(--line-height);
  --spacing-2lh: calc(var(--line-height) * 2);
  --spacing-3lh: calc(var(--line-height) * 3);
  --spacing-4lh: calc(var(--line-height) * 4);
  --spacing-5lh: calc(var(--line-height) * 5);
  --spacing-6lh: calc(var(--line-height) * 6);
  --spacing-8lh: calc(var(--line-height) * 8);
  --spacing-10lh: calc(var(--line-height) * 10);

  --text-base: 1rem;
  --text-lg: 2rem;
  --text-xl: 4rem;

  --leading-normal: 1.20rem;

  --text-color: #000;
  --background-color: #fff;
}

@layer utilities {
  .debug-grid {    
    --color: color-mix(in srgb, var(--text-color) 10%, var(--background-color) 90%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: repeating-linear-gradient(var(--color) 0 1px, transparent 1px 100%), repeating-linear-gradient(90deg, var(--color) 0 1px, transparent 1px 100%);
    z-index: -1;
    background-size: 1ch var(--line-height);
  }

  .container {
    @apply mx-auto max-w-60ch px-2ch py-[var(--line-height)];
  }

  .table-border {
    @apply border-[2px] py-[calc(var(--line-height)/2-1px)] px-[calc(var(--line-height)/2)] leading-[var(--line-height)] align-top;
  }
}
